---
const { testimonila, clientName, imageUrl } = Astro.props;
---

<div class="p-4 bg-white rounded-md shadow-md">
  <p>{testimonila}</p>
  <div class="flex mt-2 items-center">
    <img src={imageUrl} alt={clientName} class="w-8 h-8 rounded-full mr-3" />
    <div>
      <span>Ana Beatriz</span>
      <p class="text-sm text-gray-400">Cliente</p>
    </div>
  </div>
</div>
