<a href="#quem-somos" class="hover:underline hidden md:block">Quem Somos</a>
<a href="#projetos" class="hover:underline hidden md:block">Projetos</a>
<a href="#beneficios-energia-solar" class="hover:underline hidden md:block"
  >Benefícios da Energia Solar</a
>
<a href="#contato" class="hover:underline hidden md:block">Contato</a>
