---
const { name, imageUrl } = Astro.props;
---

<div class="p-4 bg-white rounded-md shadow-md">
  <img
    src={imageUrl}
    alt="Projeto 1"
    class="w-full h-48 mb-4 rounded-md"
    width="300"
    height="200"
    style="aspect-ratio: 300 / 200; object-fit: cover;"
  />
  <p class="text-center">{name}</p>
</div>
