<a
  href="https://wa.me/5585997049552?text=Ol%C3%A1%2C%20estou%20interessado%20em%20saber%20mais%20sobre%20os%20servi%C3%A7os%20oferecidos.%20Poderia%20me%20ajudar%3F"
  class="fixed bottom-4 right-4 px-4 py-2 z-50"
  target="_blank"
  rel="noopener noreferrer"
>
  <svg
    width="55"
    height="55"
    viewBox="0 0 55 55"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1.16733 27.171C1.16605 31.7921 2.37349 36.3042 4.66942 40.2813L0.947754 53.8697L14.8538 50.2235C18.7 52.3173 23.0095 53.4144 27.3887 53.4147H27.4002C41.8569 53.4147 53.625 41.6509 53.6311 27.1917C53.6339 20.1851 50.9078 13.5967 45.9548 8.63984C41.0027 3.68344 34.4165 0.952416 27.3991 0.949219C12.9407 0.949219 1.17351 12.7124 1.16754 27.171"
      fill="url(#paint0_linear_3_1286)"></path>
    <path
      d="M0.23103 27.1623C0.229538 31.9497 1.48026 36.6232 3.85805 40.7426L0.00292969 54.8182L14.4076 51.0413C18.3766 53.2052 22.8452 54.3462 27.3923 54.3479H27.404C42.3794 54.3479 54.5702 42.1609 54.5766 27.1841C54.5791 19.9258 51.7549 13.1004 46.625 7.96605C41.4945 2.83229 34.6728 0.0029845 27.404 0C12.4261 0 0.236999 12.1853 0.23103 27.1623ZM8.80954 40.0332L8.27169 39.1794C6.01072 35.5844 4.81735 31.4299 4.81905 27.164C4.82374 14.7155 14.9548 4.5876 27.4125 4.5876C33.4455 4.59016 39.1152 6.94194 43.3796 11.2089C47.6438 15.4763 49.9903 21.149 49.9888 27.1824C49.9832 39.6309 39.8519 49.7601 27.404 49.7601H27.3951C23.3419 49.7579 19.3668 48.6695 15.9001 46.6125L15.0751 46.1233L6.52704 48.3644L8.80954 40.0332Z"
      fill="url(#paint1_linear_3_1286)"></path>
    <path
      d="M20.6124 15.8066C20.1037 14.6761 19.5684 14.6533 19.0847 14.6335C18.6887 14.6164 18.2359 14.6177 17.7835 14.6177C17.3307 14.6177 16.595 14.788 15.9732 15.467C15.3507 16.1466 13.5967 17.7889 13.5967 21.1292C13.5967 24.4695 16.0297 27.6979 16.3689 28.1513C16.7084 28.6039 21.0658 35.678 27.9668 38.3994C33.7022 40.6611 34.8693 40.2112 36.1141 40.0978C37.359 39.9848 40.1312 38.4559 40.6968 36.8705C41.2627 35.2853 41.2627 33.9265 41.0931 33.6426C40.9234 33.3597 40.4706 33.1898 39.7916 32.8504C39.1126 32.511 35.7745 30.8683 35.1522 30.6417C34.5297 30.4153 34.0771 30.3023 33.6244 30.9821C33.1716 31.6609 31.8714 33.1898 31.4751 33.6426C31.0792 34.0964 30.6829 34.1529 30.0042 33.8133C29.3248 33.4727 27.1382 32.7566 24.544 30.4438C22.5257 28.6442 21.163 26.4218 20.7669 25.742C20.3708 25.0632 20.7245 24.6953 21.065 24.357C21.37 24.0528 21.7441 23.5642 22.0839 23.1679C22.4225 22.7713 22.5355 22.4885 22.7619 22.0357C22.9885 21.5824 22.8751 21.1859 22.7056 20.8463C22.5355 20.5067 21.2161 17.149 20.6124 15.8066Z"
      fill="white"></path>
    <defs>
      <linearGradient
        id="paint0_linear_3_1286"
        x1="2635.12"
        y1="5292.99"
        x2="2635.12"
        y2="0.949219"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#1FAF38"></stop>
        <stop offset="1" stop-color="#60D669"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_3_1286"
        x1="2728.69"
        y1="5481.82"
        x2="2728.69"
        y2="0"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F9F9F9"></stop>
        <stop offset="1" stop-color="white"></stop>
      </linearGradient>
    </defs>
  </svg>
</a>
